<div id="frontBlock">
  <nav>
    <a href="/">Home&nbsp&nbsp&nbsp</a>
    <a href="/dashboard">Dashboard&nbsp&nbsp&nbsp</a>
    <a href="/logout">Logout</a>
  </nav>
  <div id="titleCard">
    <div id="tech-blog-title">Your Dashboard</div>
  </div>
</div>

<div id="dashboardCard">
  <form class="form dashboard-form">
    <div class="form-group">
      <label for="title-text" class="label">Title:</label>
      <input type="text" id="title-text" />
    </div>
    <div class="form-group">
      <label for="content-text" class="label">Content:</label>
      <textarea id="content-text"></textarea>
    </div>
    <div class="form-group postBtn">
      <button class="btn " type="submit">Post</button>
    </div>
  </form>

  {{#each posts}}
    <div class="dashboard-blog-posts">
      <h3>{{title}}</h3>
      <p>{{body}}</p>
    </div>
  {{/each}}
</div>

<script src="/js/dashboard.js"></script>