      <div class="signupCard">
          <div class="col-md-6">
                <!-- Signup Form -->
                <h2 class="signup-page">Sign Up</h2>
                <form class="form signup-form">
                  {{!-- <div class="form-group text-dark row justify-content-center">
                    <input class="form-input" type="text" id="name-signup" placeholder="Enter Your Name" />
                  </div> --}}
                  <div class="form-group signupUsernameCreation">
                    <input class="form-input" type="text" id="username-signup" placeholder="Enter Your Username" />
                  </div>
                  <div class="form-group text-dark row justify-content-center">
                    <input class="form-input" type="text" id="email-signup" placeholder="Enter Your Email" />
                  </div>
                  <div class="form-group text-dark row justify-content-center">
                    <input class="form-input" type="password" id="password-signup" placeholder="Enter Your Password" />
                  </div>
                  <!-- submit -->
                  <div class="createAccountButton">
                    <button class="waves-effect waves-light btn-large push-footer-signup" type="submit">Create Account</button>
                  </div>
                     <div class="createDiv">
                    <a class="login" href="/login"class = "material-icons right">Login</a>
                  </div>
                </form>
              </div>
          </div>
      
      <script src="js/signup.js"></script>